body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #a6a6a6;
   
 
}

header {
    background-color: #333;
    color: white;
    font-size: larger;
    text-transform: uppercase;
    padding: 10px 0;
    font-family: monospace;
}

nav {
    background-color: #444;
    color: white;
    padding: 5px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 10px;
  }
.fa-pinterest {
    background: #cb2027;
    color: white;
    border-radius: 10px;
  }

section {
    margin: 20px auto;
    max-width: 800px;
}

.case-studies img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 335px;
    height: 206px;
    margin: 10px;
}

.case-studies img 

.solutions img {
    width: 220px;
    height: 55px;
    margin: 10px;
}

footer {
    background-color: #686868;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}